/* ================Особенности===================== */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 4px solid greenyellow; */
  .feature-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    /* outline: 2px solid orchid; */
  }
  .item {
    width: 270px;
    .icon-feature {
      border: none;
      padding: 0px;
      margin: auto;
      display: flex;
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
    }

    .icon-antenna-1,
    .icon-clock-1,
    .icon-diagram-1,
    .icon-astronaut-1 {
      padding: 0px;
      margin: auto;
    }
  }
  .title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .text {
    color: $second-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding: 0px;
    margin: 0px;
  }
}
